@charset "utc-8";
@import url();

/* Defualt sytle for tthe website */

/* Removes the preset link styles ex:underline, color*/
a{
    color: unset;
    text-decoration: none;
}

/* defualt style for head and body*/
head,body{
    font-family: placeholder;
}

/*remove list style*/
ul{
    list-style: none;
}